#linechart {
  font-size: 0.8em;

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x.axis path {
    display: none;
  }

  .line {
    fill: none;
    stroke: dodgerblue;
    stroke-width: 1.5px;
  }

  .tick line {
    stroke: #cecece;
    stroke-dasharray: 3,6;
  }

  .dot {
    fill: white;
    stroke: dodgerblue;
    stroke-width: 1.5px;
  }

  .overlay {
    fill: none;
    pointer-events: all;
  }

  .focus circle {
    fill: none;
  }
}