.tooltip {
    position: absolute;
    pointer-events: none;
    background: white;
    border: 1px solid #cecece;
    padding: 12px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }

.tooltip-date {
  font-size: 0.9em;
}

.tooltip-amount {
  font-size: 1.4em;
  margin: 7px 0;
}

.tooltip-bet {
  div {
    display: inline-block;
    height: 34px;
    padding: 7px 10px 0;
  }
  &:first-child{
    padding-left: 0;
  }
  &:nth-child(even) {
    background: honeydew;
  }
}

.tooltip-result {
  padding: 6px 6px 0 0;
  text-transform: uppercase;
  text-align: center;
  font: {
    weight: bold;
  }
  &.w {
    color: forestgreen;
  }
  &.l {
    color: firebrick;
  }
  &.p {
    color: #444;
  }
}

.tooltip-hero {
  text-transform: capitalize;
}

.tooltip-payout {
  float: right;
}