.tooltip {
    min-width: 200px;
    position: absolute;
    pointer-events: none;
    background: white;
    border: 1px solid #cecece;
    padding: 12px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }

.tooltip-date {
  font-size: 0.9em;
}

.tooltip-status {
  border-bottom: 1px solid #cecece;
}

.tooltip-amount {
  display: inline-block;
  font-size: 1.7em;
  margin: 7px 0;
}

.tooltip-change {
  float: right;
  margin-top: 10px;
  margin-right: 9px;
  padding-bottom: 12px;
  font: {
    size: 1.2em;
    weight: 600;
  }
  .arrow-up {
    float: left;
    width: 0;
    height: 0;
    margin: 5px 5px 0 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid forestgreen;
  }

  .arrow-down {
    float: left;
    width: 0;
    height: 0;
    margin: 5px 5px 0 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid firebrick;
  }
}

.tooltip-bets {
  margin-top: 12px;
}

.tooltip-bet {
  div {
    display: inline-block;
    height: 34px;
    padding: 7px 10px 0;
  }
  &:first-child{
    padding-left: 0;
  }
  &:nth-child(even) {
    background: honeydew;
  }
}

.tooltip-result {
  width: 32px;
  padding: 6px 6px 0 0;
  text-transform: uppercase;
  text-align: center;
  font: {
    weight: bold;
  }
  &.w {
    color: forestgreen;
  }
  &.l {
    color: firebrick;
  }
  &.p {
    color: #444;
  }
}

.tooltip-hero {
  text-transform: capitalize;
}

.tooltip-payout {
  float: right;
}