body {
  // background: yellow;
}

#results {
  padding-bottom: 80px;
  div {
      float: left;
      padding-right: 66px;
      p {
          text-transform: uppercase;
          font-size: 10px;
      }
      h3 {
          line-height: 8px;
      }
  }
  h4 {
      margin-bottom: 24px;
  }
}

.betpos {
    color: #009E0D;
}

.betneg {
    color: #9E0000;
}

.betpush {
    color: silver;
}

.amountpos {
    color: black;
}

.amountneg {
    color: #9E0000;
}

.bettype {
  text-transform: capitalize;
}

.reactable-column-header {

}

.reactable-header-sort-asc:after {
  content: '\25BC';
  font-size: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
}

.reactable-header-sort-desc:after {
  content: '\25B2';
  font-size: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
}

#linechart {
  font-size: 0.8em;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: darkgreen;
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
}