#results {
  padding-bottom: 80px;
  div {
      float: left;
      padding-right: 66px;
      p {
          text-transform: uppercase;
          font-size: 10px;
      }
      h3 {
          line-height: 8px;
      }
  }
  h4 {
      margin-bottom: 24px;
  }
}